.nav{
	background: #C5CCD6;
	color: #EBEBEB;
}
.nav01{
	background: #DDDDDD;
	color: #00CCCC;
}

    /*设置内容的基本属性*/  
    #content{  
        border-left:1px solid #0033FF; /*添加左边框*/  
        border-right:1px solid #0033FF; /*添加右边框*/  
        border-bottom:1px solid #0033FF; /*添加底部边框*/  
        padding:15px;/*内容距离边界的空隙*/  
        font-size:17px;/*字号*/  
        }  
     /*设置无序列表的基本样式*/  
     ul#tabul{  
         list-style:none;/*去除无序列表前的点*/  
         margin:0px;  
         padding-left:15px;  
         padding-bottom:28px;  
         font:bold 17px Arial, Helvetica, sans-serif;/*定义字体*/  
         }  
    /*设置无序列表元素的基本样式*/  
    ul#tabul li{  
        float:left;/*向左浮动*/  
        height:27px;  
        margin:0px 4px 0px 0px;
        border:1px solid #00CCCC;
        background:#00CCCC;
        }  
    /*设置链接以及访问过的样式*/  
    ul#tabul a:link,ul#tabul a:visited{  
        display:block;/*设置列表元素块状显示*/  
        color:#000000;  
        text-decoration:none;/*去掉下划线*/  
        padding:3px 10px 3px 10px;  
        }     
    /*设置鼠标经过时的样式*/  
    ul#tabul a:hover{  
        background:#DDDDDD;
        }  
          
    body#news li.news,body#game li.game,body#music li.music,body#movie li.movie,body#story li.story{/*重定义列表菜单*/  
    border-bottom:1px solid #ffffff;/*给块状菜单重新定义白色的下边框，起到覆盖原先定义的蓝色下边框*/  
    color:#000000;  
    background-color:#ffffff;  
      
    /*以下css代码为激活时菜单的超链接效果*/  
    body#news#story li.news a:link,body#news li.news a:visited,  
    body#story li.story a:link,body#story li.story a:visited{color:#000000;}  
      
    body#news li.news a:hover,  
    body#story li.story a:hover{color:#0000cc;text-decoration:underline;}  